<ion-header>
  <ion-navbar>
    <ion-title>{{categoria.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <despesa-geral data="categoria"></despesa-geral>
  <despesa-detalhe data="categoria"></despesa-detalhe>
  <despesa-analise data="categoria"></despesa-analise>
</ion-content>