page-categoria-despesa {

    ion-icon {
        font-size: 64px;
    }

    ion-img{
        background: white;
    }

    .card-md{
        width: 100%!important;
        margin: 0px!important;
    }

    ion-card-header{
        height: 75px;
        padding: 10px !important;
    }

    ion-card-content{
        height: 45px;
        padding: 5px !important;
        margin-bottom: 8px;
    }

}
