<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Categoria Despesas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col *ngFor="let despesa of despesas" col-4>
        <ion-card (click)="navigateTo(despesa)">
          <ion-card-header text-center>
            <ion-icon name="{{despesa.icon}}" *ngIf="!despesa.img"></ion-icon>
            <ion-img width="64" height="64" src="{{despesa.icon}}" *ngIf="despesa.img"></ion-img>
          </ion-card-header>
          <ion-card-content text-center>
            {{despesa.title}}
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
