<ion-card>
  <ion-card-header>
    Geral
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="data.model.geral.data"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Horário</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="data.model.geral.hora"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Descricao</ion-label>
        <ion-input type="text" [(ngModel)]="data.model.geral.descricao"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Total</ion-label>
        <ion-input  type="text" [(ngModel)]="data.model.geral.total"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pago em</ion-label>
        <ion-select [(ngModel)]="data.model.geral.pago">
          <ion-option *ngFor="let pagamento of pagamentos" value="{{pagamento}}">{{pagamento}}</ion-option>    
        </ion-select>
      </ion-item>
    </ion-list>  
  </ion-card-content>
</ion-card>
