<ion-card>
        <ion-card-header>
          Detalhes
        </ion-card-header>
        <ion-card-content  [ngSwitch]="data.detail">
          <ion-list *ngSwitchCase="'combustivel'">
            <ion-item>
              <ion-label>Veículo</ion-label>
              <ion-input type="text" [(ngModel)]="data.model.detalhe.veiculo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Volume</ion-label>
              <ion-input type="text" [(ngModel)]="data.model.detalhe.volume"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Odômetro</ion-label>
              <ion-input type="text" [(ngModel)]="data.model.detalhe.odometro"></ion-input>
            </ion-item>           
          </ion-list>  
        </ion-card-content>
      </ion-card>
      