<ion-header>

  <ion-navbar>
    <ion-title>Nova Despesa</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{titulo}}
    </ion-card-header>
    <ion-card-content>
        <ion-row class="center">
            <ion-col>RS</ion-col>
            <ion-col>{{ valor | currency:'BRL':'symbol-narrow':'1.2-3' }}</ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-digit-keyboard
  [align]="keyboardSettings.align"
  [width]="keyboardSettings.width"
  [visible]="keyboardSettings.visible"
  [leftActionOptions]="keyboardSettings.leftActionOptions"
  [rightActionOptions]="keyboardSettings.rightActionOptions"
  [roundButtons]="keyboardSettings.roundButtons"
  [showLetters]="keyboardSettings.showLetters"
  [swipeToHide]="keyboardSettings.swipeToHide"
  [theme]="keyboardSettings.theme"
  (numberClick)="numberClick($event)"
  (leftActionClick)="leftActionClick($event)"
  (rightActionClick)="rightActionClick($event)"
>
</ion-digit-keyboard>
    
    
</ion-content>
