<ion-card>
  <ion-card-header>
    Analises
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Cliente</ion-label>
        <ion-input type="text" [(ngModel)]="data.model.analise.cliente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Projeto</ion-label>
        <ion-input type="text" [(ngModel)]="data.model.analise.projeto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Centro de custo</ion-label>
        <ion-input type="text" [(ngModel)]="data.model.analise.centroCusto"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Reembosável</ion-label>
        <ion-toggle [(ngModel)]="data.model.analise.reembosavel"></ion-toggle>      
      </ion-item>
      <ion-item>
        <ion-label>Cliente a cobrar</ion-label>    
        <ion-toggle [(ngModel)]="data.model.analise.clienteACobrar"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Comentários</ion-label>
        <ion-input  type="text" [(ngModel)]="data.model.analise.comentario"></ion-input>
      </ion-item>
    </ion-list>  
  </ion-card-content>
</ion-card>
