<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Despesas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">    
      <button ion-fab (click)="navigateTo('Diversos')">
          <ion-icon name="more"></ion-icon>
      </button>
      <button ion-fab (click)="navigateTo('Deslocamento')">
          <ion-icon name="car"></ion-icon>
      </button>
      <button ion-fab (click)="navigateTo('Refeição')">
          <ion-icon name="alert"></ion-icon>
      </button>
      <button ion-fab (click)="navigateTo('Pedágio')">
          <ion-icon name="apps"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>


  <ion-img width="64" height="64" src="assets/imgs/gas-pump.png" ></ion-img>

</ion-content>

